{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "standard"
  ],
  "plugins": [
    "html",
    "vue"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-new": "off"
  }
}
